<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logos/favicon.ico') }}"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MT256ZRT5T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MT256ZRT5T');
</script>
    <!-- Materialize CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" /> -->

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Personal CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="header">
      <h1 class="logo"><a href="/">TrashTalk</a></h1>
      <ul class="main-nav">
        <li><a href="http://vanshtiwari.me/" target="_blank">About</a></li>
      </ul>
    </header>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <div id="fixed-social">
      <div>
        <a
          href="https://www.facebook.com/sharer.php?u=&t="
          class="fixed-facebook"
          target="_blank"
          onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"
          ><i class="fa fa-facebook"></i
        ></a>
      </div>
      <div>
        <a
          href="https://twitter.com/intent/tweet?"
          class="fixed-twitter"
          target="_blank"
          title="Trashtalk"
          onclick="window.open('https://twitter.com/intent/tweet?text=%20This%20is%20my%20profile%20status.%20Check%20it%20now%20and%20also%20compare%20yours.%20' + encodeURIComponent(document.title) + ':%20 ' + encodeURIComponent('{{share}}')); return false;"
        >
          <i class="fa fa-twitter"></i>
        </a>
      </div>

      <div>
        <a href="#" id="share-button" class="fixed-share">
          <i class="fa fa-share-alt"></i>
        </a>
      </div>
    </div>

    <div style="margin-bottom: 20%;">
      {% block body %}{% endblock %}
    </div>
    <script
      src="{{ url_for('static', filename='js/share.js') }}"
      type="text/javascript"
    ></script>

    <div class="footer" data-role="footer" data-position="fixed">
      <a href="https://www.linkedin.com/in/vanshtiwari-me/" target="_blank"
        ><i class="fa fa-linkedin" style="font-size: 24px;"></i
      ></a>
      <a
        style="padding-left: 20px;"
        href="https://github.com/vansh-tiwari"
        target="_blank"
        ><i class="fa fa-github" style="font-size: 24px;"></i>
      </a>
      <a
        style="padding-left: 20px;"
        href="https://vanshtiwari.me"
        target="_blank"
        ><i class="fa fa-address-book-o" style="font-size: 24px;"></i>
      </a>
    </div>
  </body>
</html>
