{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/codechef_profile.css') }}"
/>
<title>
  
  {% if ccInfo.Name=='NoInfo'%}
  Err404 | Trashtalk
  {% else %}
  {{ ccInfo.Username }} | Trashtalk
  {% endif %}

</title>
{% endblock %} {% block body %}

<center>
  <a href="/codechef/">
    <button
      style="padding: auto; font-size: medium;"
      type="button"
      class="btn btn-outline-info"
    >
    COMPARE ANOTHER PROFILE
    </button>
  </a>
</center>


<div id="fixed-social">
  <div>
    <a
      href="https://www.facebook.com/sharer.php?u=&t="
      class="fixed-facebook"
      target="_blank"
      onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"
      ><i class="fa fa-facebook"></i
    ></a>
  </div>
  <div>
    <a
      href="https://twitter.com/intent/tweet?"
      class="fixed-twitter"
      target="_blank"
      title="Trashtalk"
      onclick="window.open('https://twitter.com/intent/tweet?text=%20This%20is%20my%20profile%20status.%20Check%20it%20now%20and%20also%20check%20yours.%20' + encodeURIComponent(document.title) + ':%20 ' + encodeURIComponent(document.URL)); return false;"
    >
      <i class="fa fa-twitter"></i>
    </a>
  </div>
  <div>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{share}}&title=Codechef+Profile+|+Trashtalk&summary=Check+my+profile+now+and+also+check+yours+and+share+with+me.&source="
    target="_blank" 
    title="Trashtalk"
    class="fixed-linkedin"
    ><i class="fa fa-linkedin"></i> </a>
  </div>
  <div>
    <a href="#" class="fixed-share" target="_blank"
      ><i class="fa fa-share-alt"></i>
    </a>
  </div>
</div>



<div class="container">
  {% if ccInfo.Name=='NoInfo' %}

  <div id="container">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 200 82.7"
      style="enable-background: new 0 0 200 82.7;"
      xml:space="preserve"
    >
      <g id="Calque_1">
        <text
          id="XMLID_3_"
          transform="matrix(1.2187 0 0 1 13 75.6393)"
          class="st0 st1"
        >
          4
        </text>
        <text
          id="XMLID_4_"
          transform="matrix(1.2187 0 0 1 133.0003 73.6393)"
          class="st0 st1"
        >
          4
        </text>
      </g>
      <g id="Calque_2">
        <g>
          <path
            id="XMLID_11_"
            d="M81.8,29.2c4.1-5.7,10.7-9.4,18.3-9.4c6.3,0,12.1,2.7,16.1,6.9c0.6-0.4,1.1-0.7,1.7-1.1
          c-4.4-4.8-10.8-7.9-17.8-7.9c-8.3,0-15.6,4.2-20,10.6C80.7,28.5,81.3,28.8,81.8,29.2z"
          />
          <path
            id="XMLID_2_"
            d="M118.1,53.7c-4,5.7-10.7,9.5-18.2,9.5c-6.3,0-12.1-2.6-16.2-6.8c-0.6,0.4-1.1,0.7-1.7,1.1
          c4.4,4.8,10.8,7.8,17.9,7.8c8.3,0,15.6-4.3,19.9-10.7C119.2,54.5,118.6,54.1,118.1,53.7z"
          />
          <animateTransform
            attributeName="transform"
            type="rotate"
            from="360 100 41.3"
            to="0 100 41.3"
            dur="10s"
            repeatCount="indefinite"
          />
        </g>
        <g id="XMLID_6_">
          <g id="XMLID_18_">
            <circle class="circle" cx="100" cy="41" r="1"></circle>
          </g>
        </g>
        <defs>
          <filter id="blurFilter4" x="-20" y="-20" width="200" height="200">
            <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
          </filter>
        </defs>
        <path
          id="XMLID_5_"
          class="st2"
          d="M103.8,16.7c0.1,0.3,0.1,0.6,0.1,0.9c11.6,1.9,20.4,11.9,20.4,24.1c0,13.5-10.9,24.4-24.4,24.4
        S75.6,55.1,75.6,41.7c0-3.2,0.6-6.3,1.7-9.1c-0.3-0.2-0.5-0.3-0.7-0.5c-1.2,3-1.9,6.2-1.9,9.6c0,14,11.3,25.3,25.3,25.3
        s25.3-11.3,25.3-25.3C125.3,29,115.9,18.5,103.8,16.7z"
        />
      </g>
    </svg>

    <div class="message">
      User not found
    </div>
  </div>

  {% else %}
    <div style="visibility: visible;">
    <div id="in-row">
      <div id="in-left-col">
        <img src="{{image}}" class="profile-image" alt="..." />
      </div>
      <div id="in-mid-col">
        <div class="rating-star">
          {% for x in range(ccInfo.Star[0]|int) %}
          <div class="div-star">
            <span style="{{star_bgcolor}}">&#9733;</span>
          </div>
          {% endfor %}
        </div>
      </div>

      <div id="in-right-col">
        <table id="short-rank-table" class="table table-sm">
          <thead class="table-dark">
            <tr>
              <th colspan="2" style="text-align: justify;">
                {{ ccInfo.Name }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Current Rating</th>
              <td>{{ shortrank[0] }}</td>
            </tr>
            <tr>
              <th>Highest Rating</th>
              <td>{{ shortrank[1] }}</td>
            </tr>
            <tr>
              <th>Country Rank</th>
              <td>{{ shortrank[3] }}</td>
            </tr>
            <tr>
              <th>Global Rank</th>
              <td>{{ shortrank[2] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div id="rank-row">
      <div id="rank-left-col">
        <!-- RANK TABLE START -->
        <table
          id="short-rank-table"
          class="table table-bordered"
          style="text-align: center;"
        >
          <thead class="thead-dark">
            <tr>
              <th style="text-align: left;">Contests</th>
              <th>Rating</th>
              <th>Country Rank</th>
              <th>Global Rank</th>
            </tr>
          </thead>
          <tr>
            <td style="text-align: left;"><b>Long Challenge</b></td>
            <td>{{ ccRank[0][1] }}</td>
            <td>{{ ccRank[0][3] }}</td>
            <td>{{ ccRank[0][2] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Cook-off</b></td>
            <td>{{ ccRank[1][1] }}</td>
            <td>{{ ccRank[1][3] }}</td>
            <td>{{ ccRank[1][2] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Lunch Time</b></td>
            <td>{{ ccRank[2][1] }}</td>
            <td>{{ ccRank[2][3] }}</td>
            <td>{{ ccRank[2][2] }}</td>
          </tr>
        </table>
        <!-- RANK TABLE END -->
      </div>

      <div id="rank-right-col">
        <table
          id="short-rank-table"
          class="table table-bordered table-dark"
        >
          <thead>
            <tr>
              <th colspan="2">Problem Solved</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Fully</th>
              <td>{{ prbSolved[0] }}</td>
            </tr>
            <tr>
              <th>Partially</th>
              <td>{{ prbSolved[1] }}</td>
            </tr>
            <tr>
              <th>Total</th>
              <td>{{ prbSolved[2] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="table-responsive-sm">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="2" style="text-align: justify;">
              BASIC USER INFORMATION
            </th>
          </tr>
        </thead>
        <tbody>
          {% for k, v in ccInfo.items() %}
          <tr>
            <th>{{ k }}</th>
            <td>{{ v }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% for v in problems %} 
    <a href="https://www.codechef.com/problems/{{v}}" target="_blank"
      ><button type="button" class="btn btn-outline-dark btn-sm">
        <b>{{ v }}</b>
      </button></a
    > {% endfor %}


  </div>
  {% endif %}
</div>
{% endblock %}
