{% extends 'base.html' %} {% block head %}
<title>Trash Talk</title>
{% endblock %} {% block body %}
<div class="container">
  <div class="grid-container">
    <div class="grid">
      <div class="grid-item">
        <a href="/codechef/">
          <div class="grid-image-container">
            <img
              class="grid-content"
              src="{{ url_for('static', filename='logos/codechef-logo.jpg') }}"
              alt="CodeChef"
            />
            <div class="grid-image-overlay">
              <div class="text"><b>CodeChef</b></div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <a href="/codeforces/">
          <div class="grid-image-container">
            <img
              class="grid-content"
              src="{{ url_for('static', filename='logos/codeforces-logo.png') }}"
              alt="CodeForces"
            />
            <div class="grid-image-overlay">
              <div class="text"><b>CodeForces</b></div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <a href="/github/">
          <div class="grid-image-container">
            <img
              class="grid-content"
              src="{{ url_for('static', filename='logos/github-mark-logo.png') }}"
              alt="GitHub"
            />
            <div class="grid-image-overlay">
              <div class="text"><b>GitHub</b></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
